/*-------------------- 
    BACKGROUND COLOR
--------------------*/

.bg-color-black{
    background-color: black;
}

.bg-color-lighterblack{
    background-color: #363636;
}

.bg-color-red-playstation{
    background-color: #cd3d0f;
}

/*---------------
    TEXT COLOR
---------------*/

.txt-color-white{
    color: white;
}

.txt-color-black{
    color: black;
}


/*--------------
    HEADER 
--------------*/

.header-top img{
    width: 100px;
    height: auto;
}

.header-end{
    height: 100%;
}

.header-end li{
    list-style: none;
}

.header-bottom a{
    color: black;
    font-weight: bold;
}

.header-end img{
    width: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/*---------- 
    MAIN
----------*/
main{
    padding-top: 130px;
}

.hero{
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    height: 650px;
    position: relative;
}

.inside{
    left: 30px;
    position: absolute;
    top: 50%;
}

.inside img{
    width: 400px;
}

.p-container{
    width: 600px;
}

/*----------------
    BUTTON 
----------------*/

.btn-style{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 5px;
}


