/*-------------------- 
    BACKGROUND COLOR
--------------------*/

.bg-color-black{
    background-color: black;
}

.bg-color-nuove-uscite{
    background-color: #1f1f1f;
}

.bg-color-lighterblack{
    background-color: #363636;
}

.bg-color-red-playstation{
    background-color: #cd3d0f;
}

.bg-color-lightblue{
    background-color: #0072ce;
}

.txt-subtitle{
    color: #787878;
}

/*---------------
    TEXT COLOR
---------------*/

.txt-color-white{
    color: white;
}

.txt-color-black{
    color: black;
}

.txt-color-lightblue{
    color: #0072ce;
}


/*--------------
    HEADER 
--------------*/

.header-top img{
    width: 100px;
    height: auto;
}

.header-end{
    height: 100%;
}

.header-end li{
    list-style: none;
}

.header-bottom a{
    color: black;
    font-weight: bold;
}

.header-end img{
    width: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/*---------- 
    MAIN
----------*/
main{
    padding-top: 130px;
}

.hero{
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    height: 650px;
    position: relative;
}

.inside{
    left: 30px;
    position: absolute;
    top: 50%;
}

.inside img{
    width: 400px;
}

.p-container{
    width: 600px;
}

.container-thumb{
    margin: 50px;

}

.thumb{
    height: auto;
    margin-bottom: 50px;
}

.thumb img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hero-gallery h5{
    font-size: 20px;
}

.hero-gallery h2{
    font-size: 50px;
}

.hero-gallery p{
    font-size: 22px;
}

.container-console{
    margin: 0 50px;
    margin-top: 100px;
}

.container-console img{
    width: 80%;
    height: auto;
}

.container-console h2{
    font-size: 50px;
}

.container-console p{
    font-size: 20px;
}

.ps5-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start ;
}

.thumb-gallery{
    margin: 0 50px;
}

.thumb-gallery img{
    width: 70%;
    height: auto;
}

.it-takes-two img{
    width: 300px;
}

.it-takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    height: 650px;
    position: relative;
}

.inside-ittakes{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 300px;
}

.nuove-uscite{
    padding-bottom: 30px;
}

.nuove-uscite h3{
    margin-left: 30px;
    padding-top: 30px;
}

.nuove-uscite .sub{
    margin-left: 30px;
}

.nuove-uscite p{
    margin-top: 7px;
}

.container-uscite{
    margin: 0 30px;
}

.container-uscite img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container-ps4 img{
    width: 70%;
    height: auto;
}

.container-ps4 p{
    font-size: 20px;
}

/*----------------
    BUTTON 
----------------*/

.btn-style{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    vertical-align: middle;
}


